################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AzureIoTHubDeviceCreatorAndSimulatorSample/bin/Debug
/AzureIoTHubDeviceCreatorAndSimulatorSample/obj
/AzureIoTHubDeviceCreatorAndSimulatorSample/obj
/AzureIoTHubDeviceCreatorAndSimulatorSample/obj/Debug
/AzureIoTHubMessageReciever/bin/Debug
/AzureIoTHubMessageReciever/bin/Debug
